<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.muhta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MuhtaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="u8fsc1aQh29WQaGvfxmSU6PRQcLSWR6oUsWAgPGb" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="CriO0LzgOxmCTDVsLHtzvgTRmNec89xDQl8jniwX" />

        <activity
            android:name=".SignupActivity"
            android:label="Sign Up" />
        <!--to be able to render the CountrycodeActivity as a dialog instead of a full screen activity,-->
        <!--we must change-->
        <!--the Activitys default theme. We can do this in the AndroidManifest.xml file.-->
        <activity
            android:name=".CountrycodeActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:noHistory="true"
            android:label="@string/title_activity_countrycode"/>
        <activity
            android:name=".FacebookLogin"
            android:label="Sign Up - Facebook" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".TutorialActivity"
            android:label="Sign Up - Tutorial" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
